<h1>CHAT</h1>

<!--<h5><%#= @tag.inspect %></h5>-->

<% @response.to_s %>

<%# @expresions.each do |exp| %>
<!--  <p><%#= exp %></p>-->
<%# end %>

<%# @jobs.each do |job| %>
<!--  <h3><%#= job.id %>: <%#= job.title %></h3>-->
<!--  <p><%#= job.description.gsub(/\n/, '<br/>').html_safe %></p>-->
<%# end %>

